body{
    background-color: rgb(200, 255, 255);
}
header{
    width: 50%;
    display: block;
    margin: 0 auto;
}


a {
    /* color: rgb(26, 0, 83); */
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    cursor: grab;
}

a:link, a:visited{
    color: blue;
}

a:active, a:hover{
    background-color: blueviolet;
}

i{
    margin-right: 5px;
}